.curriculumContainer{
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
    display: grid;
    padding: 5rem;
    background: #070707;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
}
@media only screen and (max-width: 900px) {
    .curriculumContainer{
        width: 100%;
        grid-template-columns: 1fr;
        padding: 3rem;
        gap: 7rem;
    }
}

.profile {
	grid-column: 1 / -1;
	margin-bottom: 2rem;
}

@media only screen and (max-width: 900px) {
	.profile {
		margin-bottom: 0;
	}
}


